# Node modules (only needed for linting in this repo).
node_modules

# Linting config files.
.eslintrc.js
.stylelintrc.json

# Package json (only needed for linting in this repo).
package-lock.json
package.json