#container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

header {
    width: 90%;
    margin-top: 1.5em;
    padding: 0 5%;
    flex: initial; /*flex: 0 1 auto*/
}

/*Class for paths in svg.*/
.states {
    cursor: pointer;
}

figure {
    width: 90%;
    margin: 0;
    padding: .5em 5%;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

svg {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
}

section {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    flex: initial; /*flex: 0 1 auto*/
}

ul {
    list-style: square;
}

footer {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    flex: initial; /*flex: 0 1 auto*/
}

/*Fonts*/
p, li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    font-weight: 400;
}

text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    font-weight: 400;
    pointer-events: none;
}

h1, h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 700;
}

@media all and (min-width: 300px) {
    p, li, text {
        font-size: .875em;
    }

    h1 {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1em;
    }
}

@media all and (min-width: 400px) {
    p, li, text {
        font-size: .9375em;
    }

    h1 {
        font-size: 1.4em;
    }

    h2 {
        font-size: 1.2em;
    }
}

@media all and (min-width: 600px) {
    p, li, text {
        font-size: 1em;
    }

    h1 {
        font-size: 1.6em;
    }

    h2 {
        font-size: 1.4em;
    }
}

@media all and (min-width: 900px) {
    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.6em;
    }
}