#container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em 0;
    display: flow-root;
}

header {
    width: 96%;
    margin: 0 2%;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

/*state outlines in the svg map*/
.states {
    cursor: pointer;
}

figure {
    width: 80%;
    margin: 0.625em 10%;
    padding: 0;
}

figcaption {
    font-family: 'Merriweather', serif;
    line-height: 1.5;
    font-weight: 400;
    padding: 0;
    float: left;
}

@media all and (min-width: 300px) {
figcaption {
    font-size: 0.625em;
    margin: 0 0.625em;
  }
}

@media all and (min-width: 375px) {
figcaption {
    /*font-size: 0.625em inherited*/
    margin: 0 0.875em;
  }
}

@media all and (min-width: 475px) {
figcaption {
    font-size: 0.675em;
    /*margin: 0 0.875em inherited*/
  }
}

@media all and (min-width: 600px) {
figcaption {
    font-size: 0.875em;
    margin: 0 1em;
  }
}

@media all and (min-width: 900px) {
figcaption {
    font-size: 1em;
    /*margin: 0 1em  inherited*/
  }
}

#result-state {
    font-weight: 700;
}

h1 {
    font-family: 'Francois One', sans-serif;
    line-height: 1.4;
    font-weight: 400;
}

h2 {
    font-family: 'Merriweather', serif;
    line-height: 1.2;
    font-weight: 400;
}

@media all and (min-width: 300px) {

    h1 {
        font-size: .875em;
    }

    h2 {
        font-size: .675em;
    }
}

@media all and (min-width: 400px) {

    h1 {
        font-size: 1.2em;
    }

    h2 {
        font-size: .875em;
    }
}

@media all and (min-width: 500px) {

    h1 {
        font-size: 1.4em;
    }

    h2 {
        font-size: 1em;
    }
}

@media all and (min-width: 800px) {

    h1 {
        font-size: 1.6em;
    }

    h2 {
        font-size: 1.2em;
    }
}