#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em 0;
}

/*Clearfix for container div*/
#container::after {
    clear: both;
    content: "";
    display: table;
}

header {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    float: left;
}

img {
    width: 100%;
    height: auto;
}

/*Figure tag and its media queries*/
figure {
    width: 80%;
    margin: 0.625em 10%;
    padding: 0;
}

/*Figcaption tag and its media queries*/
figcaption {
    font-family: 'Merriweather', serif;
    color: #000;
    line-height: 1.6;
    padding: 0;
    float: left;
}

@media all and (min-width: 300px) {
figcaption {
    font-size: 0.625em;
    margin: 0 0.625em;
  }
}

@media all and (min-width: 375px) {
figcaption {
    /*font-size: 0.625em continued from previous*/
    margin: 0 0.875em;
  }
}

@media all and (min-width: 475px) {
figcaption {
    font-size: 0.675em;
    /*margin: 0 0.875em continued from previous*/
  }
}

@media all and (min-width: 600px) {
figcaption {
    font-size: 0.875em;
    margin: 0 1em;
  }
}

@media all and (min-width: 900px) {
figcaption {
    font-size: 1em;
    /*margin: 0 1em  continued from previous*/
  }
}

#result-state {
    font-weight: 600;
}

h1 {
    font-family: 'Francois One', sans-serif;
    line-height: 1.4;
    font-weight: 600;
}

h2 {
    font-family: 'Merriweather', serif;
    line-height: 1.2;
    font-weight: 400;
}

@media all and (min-width: 300px) {

    h1 {
        font-size: .875em;
    }

    h2 {
        font-size: .675em;
    }
}

@media all and (min-width: 400px) {

    h1 {
        font-size: 1.2em;
    }

    h2 {
        font-size: .875em;
    }
}

@media all and (min-width: 500px) {

    h1 {
        font-size: 1.4em;
    }

    h2 {
        font-size: 1em;
    }
}

@media all and (min-width: 800px) {

    h1 {
        font-size: 1.6em;
    }

    h2 {
        font-size: 1.2em;
    }
}
